<mat-toolbar fxShow="true" fxHide.lt-md="true" style="display:flex">
    <div>
      <button class="sidenav-toggle" mat-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span class="example-spacer"></span>
    <button  [matMenuTriggerFor]="notif" mat-button color="secondary" (click)="openNotif()">
      <!--<mat-icon matBadge="{{AllNotif?.length}}" matBadgeColor="warn">notifications</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;-->
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <!--<ngx-avatar [matMenuTriggerFor]="menu" [src]="logo" class="aligner" size="40" *ngIf="user?.utiLogo"></ngx-avatar>
    <ngx-avatar [matMenuTriggerFor]="menu" name="{{prenom}} {{nom}}" class="aligner" size="40" *ngIf="!user?.utiLogo">
    </ngx-avatar>-->
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()">
        <mat-icon>vpn_key</mat-icon>{{'Modifier mot de passe'}}
      </button>
      <button mat-menu-item (click)="openUser()">
        <mat-icon>account_box</mat-icon>{{'Mon compte'}}
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon >exit_to_app</mat-icon>{{'Déconnexion'}}
      </button>
    </mat-menu>
    <mat-menu #notif="">  
      <mat-card>
        <div (click)="openNotif()">
            <!--<div class="row" *ngFor="let notif of AllNotif">
                <div class="col-sm-2" class="centrer">
                    &nbsp;<mat-icon color="primary">notifications</mat-icon>
                </div>
                <div class="col-sm-8">
                    <div style="font-size: 12px; word-break: break-word;"><b>{{notif.ntfTitre}}</b> <br><span style="font-size: 11px;">{{notif.ntfLibelle}}</span> 
                    <br><span style="font-size: 10px;">{{notif.ntfDate|date:'hh:mm &nbsp; dd.MMM.yy'}}</span>  </div>
                </div>
                <div class="col-sm-2">
                    <a><mat-icon (click)="supprimerNotif(notif)" color="warn">clear</mat-icon></a>  
                </div>&nbsp;
                <mat-divider></mat-divider>
            </div>-->
        </div>
        <hr>
      </mat-card>
    </mat-menu>
  </mat-toolbar>