.example-spacer {
    flex: 1 1 auto;
}
  
.mymargin{
    margin: 25px;
}

.decorer{
    border: 1px solid ;     
}

mat{
    display: none;
    padding: 0;
    margin: 8px;
    min-width: 56px;

    @media (max-width:920px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
