/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container {
  /*
  box-shadow: 0px 11px 15px -7px rgb(0 20 0), 0px 24px 38px 3px rgb(0 14 0), 0px 9px 46px 8px rgb(0 12 0);
  */
  box-shadow: 0 0 100rem rgb(59 56 56), 0 0 100rem #373839;  background: black;
  opacity: 0.9;
  color: white;
}

.demo-button {
  font-size: 16px;
  color: #ffff;
  background-color: #2D5A55;
}
